.main-container {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin: 30px;
  column-gap: 30px;
  row-gap: 30px;

}

.memes-wrapper {
  column-gap: 10px;
  row-gap: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 15%;
  height: 250px;
}

.img-cus {
  width: 100%;
  height: 85%;
}

.grey-back {
  background: lightgray;
}

.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 55px;
}

.nav-links {
  display: flex;
  column-gap: 10px;
  flex-wrap: nowrap;
}

a {
  color: white;
}

.title {
  font-weight: 700;
  font-size: 1.5rem;
  color: #000;
}

.accordian-wrapper {
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.accordian-item-wrapper {
  border: 1px solid #000;
}

.accordian-title {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: skyblue;
  cursor: pointer;
}

.accordian-description {
  padding: 5px;
}